@import '../../theme/global.scss';
@import '../../theme/variable.scss';
.header{
	background-color: $SiteColor;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
	.header__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	  padding: 5px 0;
	}
	.mobile__toggle-button{
		cursor: pointer;
		display: none;
	 	img{
	 		max-width: 30px;
	    user-select: none;
	    filter: brightness(0) invert(1);
	 	}
	}
	.topnavigation-layout__profile{
		margin-left: auto;
		.avatar{
			width: 25px;
			height: 25px; 
		}
	}
}
.navbar-brand{
	img{
		max-width: 100px;
	}
}